
<div class="product-grid show">
  <div class="back-button m-3">
    <%= link_to 'Back to the drugs', drugs_path, class: 'btn' %>
  </div>

  <div class="container_drug_name">
    <div class="product-title">
      <h1><%= @drug.name %></h1>
    </div>


    <div class="product d-flex p-3">
      <div class="product-image">
        <%= cl_image_tag @drug.photo.key, height: 300, width: 400, crop: :fill %>
      </div>

      <div class="product-info">
        <div class="product-text">
          <p>Category: <%= @drug.category %></p>
          <p>Description: <%= @drug.description %></p>
          <p>Delivery time: <%= @drug.delivery_time %></p>
          <p>Price: <%= @drug.price %>€</p>
          <% if current_user.id == @drug.user_id || current_user.role == 'admin' %>
            <div class="buttons p-3">
                <%= link_to 'Edit', edit_drug_path(@drug), class: 'btn btn-warning'%>

                <%= link_to "Delete",
                  drug_path(@drug),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger'%>
            </div>
          <% end %>
          <% if current_user.role == "buyer" %>
            <div class="order-button">
              <%= simple_form_for [@drug, @order] do |f| %>
                <%# submit with btn class%>
                <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
                <%= f.input :drug_id, as: :hidden, input_html: { value: @drug.id } %>
                <%= f.input :status, as: :hidden, input_html: { value: 'pending' } %>
                <%= f.submit 'Buy', class: 'btn btn-primary' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
