
<div class="product-grid">
  <div class="back-button m-3">
    <%= link_to 'Back to the drugs', drugs_path %>
  </div>

  <div class="container_drug_name">
    <div class="product-title">
    <h1><%= @drug.name %></h1>
  </div>

  <div class="product d-flex p-3">
    <div class="product-image">
      <%= cl_image_tag @drug.photo.key, height: 300, width: 400, crop: :fill %>
    </div>

    <div class="product-info">
      <div class="product-text">
        <p>Category: <%= @drug.category %></p>
        <p>Description: <%= @drug.description %></p>
        <p>Delivery time: <%= @drug.delivery_time %></p>
        <p>Price: <%= @drug.price %>€</p>
          <div class="order-button">
          <%= simple_form_for [@drug, @order] do |f| %>
            <%= f.submit "Buy" %>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="buttons p-3">
  <div class="btn btn-success" style="background-color:transparent">
    <%= link_to 'Edit', edit_drug_path(@drug) %>
  </div>

  <div class="btn btn-danger" style="background-color:transparent">
    <% if current_user.id == @drug.user_id || current_user.role == 'admin' %>
    <%= link_to "Delete",
      drug_path(@drug),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <% end %>
  </div>
</div>
