<%= link_to 'Home', root_path %>
<h2>Your order</h2>
<p><%= @order.drug.name %></p>
<p><%= @order.drug.category %></p>
<p><%= @order.drug.price %></p>
<p><%= @order.drug.description %></p>
<p><%= @order.drug.delivery_time %></p>

<%= link_to 'Back to the drugs', drugs_path %>
