<header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag("home/masthead.png", :alt => "Masthead", :class => "masthead-img")  %>
        </div>
        <div class="col-md-6">
          <div class="masthead-subheading">Welcome To Our Shop!</div>
          <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
          <a class="btn btn-primary btn-xl text-uppercase" href="/drugs">Come on baby! 🍑</a>
        </div>
      </div>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Livrer de la drogue, facilement, rapidement.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-rocket fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Innovation</h4>
                <%# <p class="text-muted">Sécurité de payement</p> %>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shield fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Sécurité</h4>
                <%# <p class="text-muted">Lorem ipsum dolor sit amet.</p> %>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Service</h4>
                <%# <p class="text-muted">Service de vie privée à la pointe.</p> %>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Produits mis en avant</h2>
            <h3 class="section-subheading text-muted">Là on va parler de ce qu'on devrait vendre si le monde était différent.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            <br><br>
                              <%= image_tag("home/mushroom.svg", :alt => "product", :class => "img-fluid")  %>
                            </div>
                        </div>
                        <%= image_tag("home/product_views.png", :alt => "product", :class => "img-fluid")  %>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Truffes Magique</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            <br><br>
                            <%= image_tag("home/lsd.svg", :alt => "product", :class => "img-fluid")  %>
                          </div>
                        </div>
                        <%= image_tag("home/product_views.png", :alt => "product", :class => "img-fluid")  %>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">LSD</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            <br><br>
                            <%= image_tag("home/XTC.svg", :alt => "product", :class => "img-fluid")  %>
                            </div>
                        </div>
                        <%= image_tag("home/product_views.png", :alt => "product", :class => "img-fluid")  %>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">XTC</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            <br><br>
                              <%= image_tag("home/weed.svg", :alt => "product", :class => "img-fluid")  %>
                            </div>
                        </div>
                        <%= image_tag("home/product_views.png", :alt => "product", :class => "img-fluid")  %>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Weed</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            <br><br>
                              <%= image_tag("home/ketamine.svg", :alt => "product", :class => "img-fluid")  %>
                            </div>
                        </div>
                        <%= image_tag("home/product_views.png", :alt => "product", :class => "img-fluid")  %>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Kétamine</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            <br><br>
                              <%= image_tag("home/MDMA.svg", :alt => "product", :class => "img-fluid")  %>
                            </div>
                        </div>
                        <%= image_tag("home/product_views.png", :alt => "product", :class => "img-fluid")  %>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">MDMA</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About us</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                  <%= image_tag("home/jour1.png", :alt => "product", :class => "img-fluid")  %>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>27 février</h4>
                        <h4 class="subheading">Lancement du projet</h4>
                    </div>
                    <div class="timeline-body">
                    <p class="text-muted">Phase de création du design, de l'architecture et des fonctionnalités du site. Cette étape implique la création de maquettes, la sélection des couleurs, des polices, des images et des fonctionnalités.
                                          Elle nécessite une collaboration étroite entre les équipes de conception et de développement pour créer un site web ergonomique, fonctionnel et esthétique.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                  <%= image_tag("home/jour2.png", :alt => "product", :class => "img-fluid")  %>
                </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>28 février</h4>
                        <h4 class="subheading">Là on a fait des choses</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Étape de programmation et d'intégration de tous les éléments du site web.
                                            Cette étape nécessite des compétences techniques pointues en programmation et en développement web pour s'assurer que le site fonctionne correctement sur toutes les plateformes et qu'il est compatible avec les navigateurs web les plus populaires.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image">
                  <%= image_tag("home/jour3.png", :alt => "product", :class => "img-fluid")  %>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4><span class="strikethrough">29 février</span> 01 mars</h4>
                        <h4 class="subheading">C'est pas facile ici</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Programmation et d'intégration de tous les éléments du site web.
                                            Cette étape nécessite des compétences techniques pointues en programmation et en développement web pour s'assurer que le site fonctionne correctement sur toutes les plateformes et qu'il est compatible avec les navigateurs web les plus populaires.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                  <%= image_tag("home/jour4.png", :alt => "product", :class => "img-fluid")  %>
                </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>02 mars</h4>
                        <h4 class="subheading">Lancement du projet web</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Mise en ligne du site web et la configuration des outils de suivi et de mesure de la performance du site.
                                            C'est également à ce moment que les tests finaux sont effectués pour s'assurer que le site fonctionne correctement et qu'il est prêt à être utilisé par les visiteurs. Une fois le site lancé, il est important de continuer à le suivre et à l'améliorer en fonction des retours des utilisateurs et des évolutions technologiques.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://avatars.githubusercontent.com/u/120527916?v=4" alt="..." />
                    <h4>Louise</h4>
                    <p class="text-muted">Lead Designer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://avatars.githubusercontent.com/u/122785063?v=4" alt="..." />
                    <h4>Maxime</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://avatars.githubusercontent.com/u/121297708?v=4" alt="..." />
                    <h4>Nico</h4>
                    <p class="text-muted">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://avatars.githubusercontent.com/u/6811516?v=4" alt="..." />
                    <h4>Gaëtan</h4>
                    <p class="text-muted">Product tester</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p class="large text-muted">
              C'est avec une grande fierté que nous annonçons aujourd'hui le lancement de notre tout nouveau site web. Après plusieurs jours de travail acharné, notre équipe a réussi à créer une plateforme unique qui reflète notre passion et notre engagement envers nos clients.
              <br>
              Nous sommes extrêmement fiers de tout le travail accompli, de la conception initiale de notre site à sa réalisation finale. Nous avons travaillé sans relâche pour créer une expérience utilisateur optimale et intuitive, en nous assurant que chaque détail soit pris en compte.
              <br>
              Nous sommes convaincus que notre site web sera un atout essentiel pour notre entreprise et nous sommes impatients de voir comment nos clients réagiront. Nous tenons à remercier notre équipe pour leur dévouement et leur professionnalisme, ainsi que nos partenaires et nos clients pour leur confiance et leur soutien.
              <br>
              Nous sommes fiers de notre réalisation et nous sommes impatients de continuer à offrir les meilleurs produits et services à nos clients grâce à cette nouvelle plateforme en ligne.
            </p>
          </div>
        </div>
    </div>
</section>
